<footer class="bg-black pv5 pv6-l cf" id="fadein-backtotop">

  <form class="pa4 black-80">
    <div>
      <label for="name" class="f4 b db mb2 white">Name</label>
      <input id="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
      <small id="name-desc" class="f5 white-60 db mb2 white">Helper text for the form control.</small>
    </div>

    <div>
      <label for="email" class="f4 b db mb2 white">Email</label>
      <input id="email" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="email" aria-describedby="email-desc">
      <small id="email-desc" class="f5 white-60 db mb2 white">Helper text for the form control.</small>
    </div>
  </form>

  <a href="#top" class="back-to-top fixed bottom-1 right-1 bg-white lh-solid" data-aos="fade-left"
    data-aos-anchor="#fadein-backtotop">
    <img src="{{ site.baseurl }}/images/arrow.svg" class="di w2 w3-l" alt="Scroll to top button">
  </a>

</footer>